@font-face { font-family: intro; src: url('fonts/Intro_Inline.otf'); }
@font-face { font-family: avenger; src: url('fonts/Avenger.otf'); }
@font-face { font-family: aller; src: url('fonts/Aller_BdIt.ttf'); }

/*Generic CSS for Businesses */
.generic {
    width: 94%;
    padding-top: 60px;
    padding-right: 3%;
    padding-left: 3%;
}

/*Willow Tree */
.willow {
    line-height: 39px;
    letter-spacing: 1px;
    font-weight: 300;
    background-color: transparent;
    min-height: 43px;
    text-align: center;
    font-family: josefin-sans, sans-serif;
    color: #534741;
    position: relative;
    font-size: 35px;
    margin: 0;
}

.bLogo {
    width: 100%;
    padding-top: 25px;
}

.wLogo {
    width: 100%;
}

/* Holy Taco */

.lines {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 75px;
    height: 2px;
    vertical-align: center;
    display: inline-block;
    margin-bottom: 10px;
}

.the {
    color: black;
    font-family: 'Great Vibes', cursive;
    vertical-align: center;
    font-size: 11vw;
}

.tContainer {
    width: 100%;
    text-align: center;
    padding-top: 125px;
}

.tTitle {
    font-family: 'intro';
    width: 100%;
    text-align: center;
    font-size: 12vw;
    margin-top: -10px;
}

.tCantina {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 4vw;
    letter-spacing: 1.4px;
    font-weight: bold;
    margin-top: -50px;
}

.the2 {
    color: black;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 11vw;
    width: 100%;
    display: block;
    padding-top: 50px;
}

/* Atmoik Comic */

.aLogo {
    width: 94%;
    padding-top: 60px;
    padding-right: 3%;
    padding-left: 3%;
}

.aText {
    font-family: avenger;
    color: white;
    font-size: 12vw;
    text-align: center;
    width: 95%;
    margin-top: 50px;
}

/*Korean Taco House */
.kTaco {
    width: 94%;
    padding-top: 60px;
    padding-right: 3%;
    padding-left: 3%;
}

/*Energy Fitness */
.energyF {
    font-family: aller;
    color: #78be68;
    text-align: center;
    font-size: 14vw;
}